.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .card-img-top {
        width: 100%;
        height: 300px;
    }
}